
<div>Hi @TONAME@,</div><br><br>
<div>A referral has been made for a potential TaqMan Assay Opportunity.  Details are included below.</div><br>	
<div>Referred by: @REFERERNAME@</div><br>
<div>Account: @INSTITUTIONNAME@</div><br>
<div>Customer Name: @CUSTOMERNAME@</div><br>
<div>Email: @CUSTOMEREMAIL@'</div><br>
<div>Application: @TYPE@</div><br>
<div># Targets: @TARGETS@</div><br>
<div># Samples: @SAMPLES@</div><br>
<div>Notes: @REFERERCOMMENTS@</div><br>
<div style="margin-top:10px;">
<div style="margin-top:10px;">Thank you,</div>
<div>@REFERERNAME@</div>